* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  overflow: hidden;
}

header {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.logo {
  position: absolute;
  width: 40vw;
  max-width: 30vw;
  pointer-events: none;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.controls {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 20;
  display: flex;
  flex-direction: column;
}

button {
  display: block;
  margin: 5px 0;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: #b052cc;
  color: white;
}

button:hover {
  filter: brightness(0.8);
}

#map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  cursor: grab;
  touch-action: pan-x pan-y;
}

#image-wrapper {
  position: absolute;
  min-height: 100vh;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transition: transform 0.3s ease;
  overflow: hidden;
}

#background-image {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.point {
  position: absolute;
  cursor: pointer;
  transform-origin: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
}

.point:hover {
  filter: brightness(0.8);
}

.point.red {
  width: 6vw; /* Увеличим размер для точек с видео */
  height: 6vw;
  background-image: url("./images/Point_20-08.png");
}

.point.blue {
  width: 4vw; /* Уменьшим размер для точек с текстом */
  height: 4vw;
  background-image: url("./images/Point_20-08.png");
}

.modal {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.modal.show {
  display: block;
  opacity: 1;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: white;
  border-radius: 15px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.85);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.modal.show .modal-content {
  opacity: 1;
}

.modal-content h2 {
  color: #fff;
  font-size: 28px;
  margin-bottom: 15px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.modal-content p {
  color: #ddd;
  font-size: 18px;
  margin-top: 15px;
}

.modal-content .modal-text {
  margin-top: 10px;
}

.modal-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 10px;
}

.modal-content.video-modal {
  background: rgba(0, 0, 0, 0.85);
}

.modal-content.text-modal {
  background: rgba(0, 0, 0, 0.85);
}

.modal video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal-text {
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  z-index: 21;
}

.close:hover,
.close:focus {
  color: #ccc;
}

@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%; /* Делаем ширину на 100% экрана */
    z-index: 10;
  }

  .logo {
    margin-top: 7vh;
    width: 50vw;
    max-width: 50vw;
  }

  .controls {
    position: fixed;
    right: 10px;
    top: 10px;
    transform: none;
    z-index: 999;
  }

  .controls button {
    padding: 8px;
    font-size: 16px;
    margin: 5px 0;
  }

  #map-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  #image-wrapper {
    width: auto;
    height: 100%;
    transform: translate(-50%, -50%) scale(1);
  }

  #background-image {
    width: auto;
    height: 100%;
    object-fit: cover;
  }

  .point.red {
    width: 7vw; /* Больше для видео на мобильных устройствах */
    height: 7vw;
  }

  .point.blue {
    width: 5vw; /* Меньше для текста на мобильных устройствах */
    height: 5vw;
  }
}
